In [1]:
import numpy as np
import pandas as pd
import ast

In [2]:
bbq = pd.read_csv("BBQ.csv", index_col = 0)
print(len(bbq))
bbq.head()

1483

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
42,TRToVIbaVtu1KOE8DR9gCw,Texas Roadhouse,2457 S Highway 27,Clermont,FL,34711,28.538452,-81.737625,3.5,102,1,"{'RestaurantsTakeOut': 'True', 'BusinessAccept...","Steakhouses, Restaurants, Salad, Barbeque, Ame...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-22:0', ..."
328,0fTzCoxF2X-sj1GwrdFpeg,Uptown Restaurant & Lounge,201 Courtland St NE,Atlanta,GA,30303,33.759931,-84.383949,3.5,12,0,"{'RestaurantsReservations': 'True', 'BusinessA...","American (New), Bars, Barbeque, Lounges, Night...",NaN
523,pGpDZ4nV9FuojeVFy037rg,Jr Crickets,1197 Peachtree St NE,Atlanta,GA,30361,33.786873,-84.382572,2.0,25,0,"{'HasTV': 'True', 'RestaurantsReservations': '...","Bars, American (Traditional), Nightlife, Barbe...","{'Monday': '11:0-0:0', 'Tuesday': '11:0-0:0', ..."
586,SvTMnKWgV4AMH6Y2g_vRPQ,Smoke Daddie BBQ,602 7th St,Oregon City,OR,97045,45.356080,-122.605077,2.5,24,0,"{'BikeParking': 'False', 'Alcohol': ""u'full_ba...","Barbeque, Restaurants","{'Monday': '11:0-19:0', 'Tuesday': '11:0-19:0'..."
732,B4Y_wHDK7I84ZNs7Xuu8Uw,Woody's Bar-B-Q,1340 Alafaya Trl,Oviedo,FL,32765,28.651225,-81.208638,3.0,14,0,"{'RestaurantsPriceRange2': '2', 'Alcohol': ""u'...","Restaurants, Fast Food, Food, Barbeque","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'..."

In [3]:
bbq_light = bbq.loc[~(pd.isna(bbq["attributes"])), 
                    ["business_id", "name", "address", "state", "city", "stars", "postal_code","latitude","longitude", "review_count", "attributes", "categories", "hours"]]
print(len(bbq_light))

1466

In [4]:
review = pd.read_csv("review.csv")
len(review)

247896

### Attributes

In [5]:
bbq_light["attributes"] = bbq_light["attributes"].apply(ast.literal_eval)
attr_df= pd.json_normalize(bbq_light["attributes"])
attr_df.index = bbq_light.index
bbq_light = bbq_light.join(attr_df)
#bbq_light = bbq_light.loc[~(pd.isna(bbq_light["Ambience"]) | pd.isna(bbq_light["BusinessParking"]) | pd.isna(bbq_light["GoodForMeal"])), 
#                          :]

In [6]:
for idx in bbq_light.index:
    if type(bbq_light.loc[idx, "BusinessParking"]) is str:
        bbq_light.loc[idx, "BusinessParking"] = [ast.literal_eval(bbq_light.loc[idx, "BusinessParking"])]
parking = pd.json_normalize(bbq_light["BusinessParking"])
parking.index = bbq_light.index
bbq_light = bbq_light.join(parking)

In [7]:
attr_df.head()
for col in attr_df.columns:
    print(col)

RestaurantsTakeOut
BusinessAcceptsCreditCards
RestaurantsAttire
RestaurantsPriceRange2
RestaurantsReservations
NoiseLevel
HasTV
BikeParking
RestaurantsDelivery
GoodForKids
OutdoorSeating
RestaurantsTableService
RestaurantsGoodForGroups
WiFi
Ambience
DogsAllowed
BusinessAcceptsBitcoin
Alcohol
WheelchairAccessible
Caters
GoodForMeal
BusinessParking
BYOBCorkage
HappyHour
BYOB
DriveThru
ByAppointmentOnly
Corkage
Smoking
GoodForDancing
Music
BestNights
CoatCheck
RestaurantsCounterService
DietaryRestrictions
Open24Hours

In [8]:
bbq_light.to_csv("expand.csv")

In [9]:
len(bbq_light)

1466